extends template

block content
    h1 Home Page
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatibus, quas mollitia odit placeat culpa eveniet quod vero error itaque ullam eius ad, eum saepe enim nesciunt nostrum nobis quaerat!